#jokeDiv {
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    margin: 0 auto;



    width: auto;
    height: auto;
    border: groove 5px black;
    font-family: 'Press Start 2P', cursive;
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(198, 196, 196, 1) 100%);
    font-size: 0.6em;

    padding: 15px;

}

body {
    background-image: url(../resources/titlebg.png);
}


.content {
    display: flex;
    justify-content: center;
    align-items: center;
}


.startGameButton {
    position: fixed;
    left: 50%;
    bottom: 190px;
    transform: translate(-50%, -50%);
    margin: 0 auto;





    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(198, 196, 196, 1) 100%);
    color: black;
    border: groove 5px red;
    font-size: 1em;
    padding: 10px;
    margin: auto;
    font-weight: bold;
    font-family: 'Press Start 2P', cursive;

}