#frame {
    padding: 20px;
    width: 650px;
    height: 620px;
    border: none;
    background-color: white;
}
#background {
    /* background-image: url(/resources/Front\ Open.png); nån startbild här??*/ 
    background-size:contain;
    background-repeat: no-repeat;
    width: 1100px;
    height: 450px;
    position: relative;
    float: right;
}
#monsterImg {
    position: absolute;
    background-color: transparent;
    border: transparent;
    width: 350px;
    height: 300px;
    top: 110px;
    left: 400px;

}
#lootImg {
    position: absolute;
    background-color: transparent;
    border: transparent;
    width: 250px;
    height: 200px;
    top: 220px;
    left: 450px;
}
#compass {
    border-radius: 40% 40%;
    border-width: 4px;
    width: 100px;
    height: 100px;
    position: relative;
    background-color: rgb(201, 194, 194, 0.7);
}

#compass p {
    font-size: larger;
    position: absolute;
    font-weight: bold;
}
#dir1 {
    top: -10px;
    left: 45px;
    color: red;
}
#dir2 {
    left:0;
    top: 20px;
}
#dir3 {
    right: 0;
    top: 20px;
}
#dir4 {
    top: 50px;
    left: 45px;
}
div {
    background-color: rgb(228, 233, 238);
    border: solid 1px black;
    width: 60px;
    height: 60px;
    display: inline-block;
}
#statusDiv {
    width: 680px;
    height: 200px;
    display: flex;
}
#buttonDiv {
    border: double 5px rgb(31, 30, 30);
    display: flex;
    flex-wrap: wrap;
    width: 190px;
    height: 190px;
}

input {
    width: 190px;
    height: 60px;
    background-color: rgb(164, 217, 219);
}

#startButton {
    background-color: burlywood;
    width: 100px;
}

#west, #east{
    width: 95px;
}

#wall {
    background-color: rgb(136, 79, 15);
    color: black;
}
#path{
    background-color: rgb(235, 213, 184);
    color: black;
}
#player{
    background-color: darkblue;
    color: darkblue;
}
#loot {
    background-color: gold;
}
#monster {
    background-color: red;
}