#frame {
    padding: 20px;
    width: 660px;
    height: 620px;
    background-color: whitesmoke;
}
div {
    background-color: aliceblue;
    border: solid 1px black;
    width: 60px;
    height: 60px;
    display: inline-block;
}
#statusDiv {
    width: 680px;
    height: 200px;
    display: flex;
}
#buttonDiv {
    border: double 5px rgb(31, 30, 30);
    display: flex;
    flex-wrap: wrap;
    width: 190px;
    height: 190px;
}

input {
    width: 190px;
    height: 60px;
    background-color: rgb(164, 217, 219);
}

#startButton {
    background-color: burlywood;
    width: 100px;
}

#west, #east{
    width: 95px;
}

#wall {
    background-color: rgb(136, 79, 15);
}